.logo-text{
    font-size: 1.456em;
    padding-top: 1900px;
    font-weight: 700;
    transition: 0.7s
}
.my-nav{
    z-index: 1;
    position: relative;
    width: 100%;

}

.logo-text:hover{
    color: #10c0df
}

.nav-item{
    margin: 4px 15px;
    font-size: 1.011em;
    background: transparent;
    z-index: 1;
    position: relative;
}
#my-item{
    /* color: red */
    transition: 0.5s    
}
#my-item:hover{
    color: #10c0df
}

.scrolled{
	position: fixed;
	top: 0;
	width:  100%;
	z-index: 100000;
	background-color: #fff;
} 